$primary: #150080;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

.quiz-outer {
    font-family: monospace;
    background: linear-gradient(0deg, $primary 0.03%, $accent);
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}

.quiz-container {
    position:relative;
    width: 500px;
    background: $bg;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
    box-sizing: border-box;
    height: fit-content;

    .active-question-no {
        font-size: 32px;
        font-weight: 500;
        color: $primary;
        height: auto;   
        overflow:auto;
    }

    .total-question {
        font-size: 16px;
        font-weight: 500;
        color: $disabled;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        margin: 0;
    }

    ul {
        margin-top: 20px;
        margin-left: -40px;


        li {
            list-style-type: none;
            text-decoration: none;
            color: $foreground;
            font-size: 16px;
            background: $bg;
            border: 1px solid $disabled;
            border-radius: 16px;
            padding: 11px;
            margin-top: 15px;
            cursor: pointer;
        }

        .selected-answer {
            background: $primary;
            border: 1px solid $accent;
            color: $bg;
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;

    }

    button {
        background: linear-gradient(0deg, $primary 0.03%, $accent);
        border-radius: 9px;
        font-size: 18px;
        color: $bg;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin-top: 15px;
        cursor: pointer;

        &:disabled {
            background: $bg-accent;
            color: $disabled;
            cursor: not-allowed;
        }
    }
        .result {
            text-align: center;

            h3 {
                font-size: 24px;
                letter-spacing: 1.4px;
                text-align: center;
            }

            p {
                font-size: 16px;
                font-weight: 500;

                span {
                    color: $primary;
                    font-size: 22px;
                }
            }
    }

}

.start-quiz-container {

    height: 8vh;

    .start-quiz {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }

}
.answer-timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $disabled;
    
    .progress {
        height: 5px;
        transition-duration: .1s;
        width: 0;
        transition-timing-function: linear;
        background-color: red;
    }
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

.board {
    text-align: center;
}

.board .leaderboard {
    margin-bottom: 1em;
}

.board .duration {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#profile .flex .info {
    padding: 1em;
}

.text-dark {
    color: var(--color-dark)
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}