$primary: #150080;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

.mainLaunchScreen {
  width: 60%;
  margin-left: 20%;
}

.quiz-outer {
    font-family: monospace;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 83vh;
}

.quiz-container {
    position:relative;
    width: 500px;
    background: $bg;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
    box-sizing: border-box;
    height: fit-content;

    .active-question-no {
        font-size: 32px;
        font-weight: 500;
        color: #CBC3E3;
        height: auto;   
        overflow:auto;
    }

    .total-question {
        font-size: 16px;
        font-weight: 500;
        color: $disabled;
    }

    h2 {
        font-size: 24px;
        padding: 3%;
        font-weight: 500;
        margin: 0;
        background: linear-gradient(white, white) padding-box,
        linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%) border-box;
        border: 4px solid transparent;
    }

    .answers-list {
        text-align: center;
        width: 100%;
        ul {
            margin-top: 20px;
            margin-left: -40px;
            display: inline-block;
            text-align: left;
            width: 70%;

            .heart-answer-container{
                left: 0;
            }

            .heart-letter {
                transform: rotate(45deg);
                border-radius: 10px;
                z-index: 1;
                position: relative;
                left: 40%;
                font-family: monospace;
                top: 30%;
                font-weight: bold;
                color: white;
                font-size: large;
            }

            .heart {
                background: #CBC3E3;
                display: inline-block;
                height: 30px;
                margin: 0 1px;
                position: relative;
                top: 0;
                transform: rotate(-45deg);
                width: 30px;
              }
              
              .heart:before,
              .heart:after {
                content: "";
                background: #CBC3E3;
                border-radius: 50%;
                height: 30.5px;
                position: absolute;
                width: 30px;
              }
              
              .heart:before {
                top: -15px;
                left: 0;

              }
              
              .heart:after {
                left: 15px;
                top: 0;
              }

            .heart-answer-container {
                display: flex;
                align-items: center;
            }


            li {
                list-style-type: none;
                text-decoration: none;
                color: $foreground;
                font-size: 16px;
                background: $bg;
                border: 2px solid transparent;
                background: linear-gradient(white, white) padding-box,
                linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%) border-box;
                padding: 11px;
                margin-top: 15px;
                width: 100%;
                cursor: pointer;
            }

            .selected-answer {
                background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%) padding-box,
                linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%) border-box;
                color: $bg;
            }
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;

    }

    button {
        background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
        border-radius: 9px;
        font-size: 18px;
        color: $bg;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin-top: 15px;
        cursor: pointer;

        &:disabled {
            background: $bg-accent;
            color: $disabled;
            cursor: not-allowed;
        }
    }

    .buttonLogin {
      background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
      border-radius: 9px;
      font-size: 11px;
      color: $bg;
      outline: none;
      border: none;
      left: 15%;
      cursor: pointer;
  }
        .result {
            text-align: center;

            h3 {
                font-size: 24px;
                letter-spacing: 1.4px;
                text-align: center;
            }

            p {
                font-size: 16px;
                font-weight: 500;

                span {
                    color: $primary;
                    font-size: 22px;
                }
            }
            .next-action-button{
                width: 60%;

            }
    }

}

.start-quiz-container {

    height: 8vh;

    h1 {
        text-align: center;
    }

    .start-quiz {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }

}

.start-quiz-container-no-auth {
  height: 8vh;
  h1 {
      text-align: center;
  }

  .buttonLogin {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translate(-50%, -50%);
  }

}
.answer-timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $disabled;
    
    .progress {
        height: 5px;
        transition-duration: .1s;
        width: 0;
        transition-timing-function: linear;
        background-color: red;
    }
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

.board {
    text-align: center;
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
}

.board .leaderboard {
    margin-bottom: 1em;
}

.board .duration {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#profile .flex .info {
    padding: 1em;
}

.text-dark {
    color: var(--color-dark)
}

.leaderboardMain {
  width: 40rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 100px;
  height: 75%;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}



.headerLeaderboard {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
  margin-left: 10%;
}

#leaderboard {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}


td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 1.2rem;
}

.points {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points:first-child {
  width: 10rem;
}


.questionStringText {
    width: 50%;
}

.questionChoiceText {
    width: 50%;
}
